<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <a routerLink="/" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1>Angular<span>.</span></h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLinkActive="active" routerLink="/posts/list">Posts</a></li>
        <li><a routerLinkActive="active" routerLink="/todo/list">To Do</a></li>
      </ul>
    </nav>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>