#loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    color: var(--default);
    z-index: 999999;
    opacity: 1;
    pointer-events: none;
    transition: all 60s ease-in-out;
}

.flip-container {
    -webkit-perspective: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}